exportPattern("^[[:alpha:]]+")

importFrom("data.table", "as.data.table", "copy", "fread", "fwrite", "CJ")
importFrom("pxR", "read.px")
importFrom("rlist", "list.clean", "list.map")
importFrom("tcltk", "tkmessageBox", "tk_select.list", "tkgetOpenFile", "tkchooseDirectory")
importFrom("rjstat", "toJSONstat")
importFrom("RDCOMClient", "COMCreate")
import("stringi")
